%table.data.box
  %thead
    %tr
      %th
      %th= t '.name'
      %th= t '.address'
      %th= t '.status'
      %th= t '.admin'
      %th= t '.description'
      %th= link_to t('.provider'), providers_path
      %th= link_to t('.deployment'), deployments_path
  %tbody.nodelist
    -nodes.each do |n|
      - s = n.state
      - led = NodeRole::STATES[s]
      - if !n.available
        - led = (n.alive ? 'reserved' : 'idle')
      - elsif !n.alive
        - led = 'off'
      %tr.node{ :class => cycle(:odd, :even), :id => n.id}
        %td.status{ :width=>'10px'}
          .led{:class => led, :title=>t(".#{led}"), :raw => s}
        %td= link_to n.name, node_path(n.id)
        %td= n.get_attrib('node-control-address')
        %td.strStatus
          = t (n.alive ? ".alive" : ".dead")
          = t (n.available ? ".available" : ".reserved")
          = NodeRole.state_name(s)
        %td
          = t 'yes' if n.admin
        %td= n.description
        %td= link_to n.provider.name, provider_path(n.provider.id) rescue t('unknown')
        %td= link_to n.deployment.name, deployment_path(n.deployment.id), :title=>n.deployment.description
