- o = %x[cat /etc/*release]
- if o =~ /DESCRIPTION/
  - rebar_os = o[/DISTRIB_DESCRIPTION="(.*)"/,1]
- else
  - rebar_os = o.split("\n")[0]

%h1= t '.title_all'

.column_100
  %section.box#details
    %strong= t('.admin_os') + ": " + rebar_os
    %div

%table.data.box
  %thead
    %tr
      %th= t '.name'
      %th= t '.order'
      %th= t '.user'
      %th= t '.version'
  %tbody
    - @barclamps.each do |bc|
      %tr{:id=>bc.id, :class => ["barclamp", cycle(:odd, :even, :name => "barclamps")]}
        %td{:title=>(bc.description || t('not_set'))}
          %em= bc.name
        %td= bc.order
        %td= t (bc.user_managed ? 'yes' : 'no')
        %td{:title=>t('.commit')+': '+(bc.commit || t('unknown'))}= (bc.build_on || t('unknown')).split('-')[0]

