%p#add_button{:style => 'float:right'}
  - if params[:raw]
    = link_to t('.wizard'), bootstrap_path, :class => 'button'
  - else
    - if params[:yaml]
      = link_to t('.json'), bootstrap_path(json: true), :class => 'button'  
    - else
      = link_to t('.yaml'), bootstrap_path(yaml: true), :class => 'button'
    = link_to t('.rawdata'), bootstrap_path(raw: true), :class => 'button'
%h1= t '.title'


=form_for 'bootstrap', url: bootstrap_path(), method: :put, html: { :method => :put, :'data-type' => 'html', :class => "formtastic" } do |f|

  - yaml = params.key? :yaml
  = hidden_field_tag :yaml, yaml

  - if params[:raw]

    %h3= t '.rawdata'

    %textarea.editor{name: "data"}
      = JSON.pretty_generate @config

    = hidden_field_tag :raw, :json

  - else
    %h3= t '.base'

    %dl
      %dt= t '.domain'
      %dd= text_field_tag "domain", @config["domain"], size: 50
      %dt= t '.net_to_join'
      %dd= text_field_tag "net_to_join", @config["networks_to_join"].join(", "), size: 50

    %hr
    %h3= t '.networks'

    %dl
      - @config["networks"].each_index do |i|
        - n = (yaml ? @config["networks"][i].to_yaml : JSON.pretty_generate(@config["networks"][i]))
        %dt= @config["networks"][i]["name"]
        %dd= text_area_tag "networks|#{i}", n, cols: 65, rows: 6
      %dt= "new network"
      %dd= text_area_tag "networks|new", (yaml ? "---" : "{}"), cols: 65

    %hr
    %h3= t '.keys'

    %dl
      - @config["ssh_keys"].each_key do |k|
        %dt= k
        %dd= text_field_tag "ssh_keys|#{k}", @config["ssh_keys"][k], size: 60
      %dt= text_field_tag "ssh_keys|new_name", "new_key", size: 20
      %dd= text_field_tag "ssh_keys|new_data", "replace me to add key", size: 60

    %hr
    %h3= t '.filters'

    %dl
      - @config["filters"].each_index do |i|
        - f = (yaml ? @config["filters"][i].to_yaml : JSON.pretty_generate(@config["filters"][i]))
        %dt= @config["filters"][i]["name"]
        %dd= text_area_tag "filters|#{i}", f, cols: 65, rows: 5
      %dt= "new filter"
      %dd= text_area_tag "filters|new", (yaml ? "---" : "{}"), cols: 65

    %hr
    %h3= t '.users'

    %dl
      - @config["users"].each_index do |i|
        - u = (yaml ? @config["users"][i].to_yaml : JSON.pretty_generate(@config["users"][i]))
        %dt
          = @config["users"][i]["username"]
          - unless @config["services"][i]["is_admin"]
            <p/>
            %em= t '.admin'
        %dd= text_area_tag "users|#{i}", u, cols: 65, rows: 5
      %dt= "new user"
      %dd= text_area_tag "users|new", (yaml ? "---" : "{}"), cols: 65

    %hr
    %h3= t '.services'

    %dl
      - @config["services"].each_index do |i|
        - s = (yaml ? @config["services"][i].to_yaml : JSON.pretty_generate(@config["services"][i]))
        %dt
          = @config["services"][i]["name"]
          - unless @config["services"][i]["has_service"]
            <p/>
            %em= t '.disabled'
        %dd= text_area_tag "services|#{i}", s, cols: 65, rows: 3
      %dt= "new service"
      %dd= text_area_tag "services|new", (yaml ? "---" : "{}"), cols: 65

  %input.button{type: "submit", value: t('update')}
