%h1= t '.title'
=form_for 'settings', :url => utils_settings_put_path(), :method=>:put, :html => { :method=>:put, :'data-type' => 'html',  :class => "formtastic" } do |f|
  %table.data.box
    %thead
      %tr
        %th= t '.name'
        %th= t '.value'
    %tbody
      = render :partial => 'settings', :locals=>{ :name=>'refresh', :value=>current_user.settings(:ui).refresh }
      = render :partial => 'settings', :locals=>{ :name=>'fast_refresh', :value=>current_user.settings(:ui).fast_refresh }
      = render :partial => 'settings', :locals=>{ :name=>'node_refresh', :value=>current_user.settings(:ui).node_refresh }
      = render :partial => 'settingsCb', :locals=>{ :name=>'edge', :value=>current_user.settings(:ui).edge } #boolean
      = render :partial => 'settingsCb', :locals=>{ :name=>'test', :value=> current_user.settings(:ui).test } #boolean
      = render :partial => 'settingsCb', :locals=>{ :name=>'debug', :value=>current_user.settings(:ui).debug } #boolean
      = render :partial => 'settingsCb', :locals=>{ :name=>'milestone_roles', :value=>current_user.settings(:ui).milestone_roles } #boolean
      = render :partial => 'settingsCb', :locals=>{ :name=>'expand', :value=>current_user.settings(:errors).expand } #boolean
  %input.button{:type => "submit", :value => t('update')}
