<%= @network = locals[:network];'' %>

<div class='network'>
    <table>
      <tr>
        <td style="width: 7em;"><b>Filename:</b></td>
        <td>
          <input type="text" value="<%= @network['name'] %>" id="<%= @network['name'] %>_name"/>
        </td>
        <td style="width: 7em;"><b>Conduit:</b></td>
        <td>
          <input type="text" value="<%= @network['conduit'] %>" id="<%= @network['name'] %>_conduit"/>
        </td>
      </tr>
      <tr>
        <td><b>Category:</b></td>
        <td>
          <input type="text" value="<%= @network['category'] %>" id="<%= @network['name'] %>_category"/>
        </td>
        <td><b>Group:</b></td>
        <td>
          <input type="text" value="<%= @network['group']%>" id="<%= @network['name'] %>_group"/>
        </td>
      </tr>
      <tr>
        <td><b>Deployment:</b></td>
        <td>
          <select value="<%= @network['deployment'] %>" id="<%= @network['name'] %>_deployment">
            <option value="system">system</option>
          </select>
        </td>
        <td><b>v6prefix:</b></td>
        <td>
          <input type="text" value="<%= @network['v6prefix'] || 'auto' %>" id="<%= @network['name'] %>_v6prefix"/>
        </td>
      </tr>
    </table><br/>
    <b>Ranges:</b>
    <table style="width: 100%;" id="rangetable">
      <thead>
        <tr>
          <th>Name</th>
          <th>First</th>
          <th>Last</th>
        </tr>
      </thead>
        <tfoot>
          <tr>
            <td><button onclick="addRange('<%= @network['name'] %>')">Add</button></td>
            <td></td><td></td>
          </tr>
        </tfoot>
      <tbody id="<%= @network['name'] %>_range">
        <%= @network["ranges"].map do |range|
        """<tr>
          <td><input type=\"text\" value=\"#{range['name']}\"/></td>
          <td><input type=\"text\" value=\"#{range['first']}\"/></td>
          <td><input type=\"text\" value=\"#{range['last']}\"/></td><td><button onclick='removeRange(this)'>Remove</button></td>
        </tr>"""
        end * '' %>
      </tbody>
    </table><br/>
    <b>Router:</b>
    <table>
      <tr>
        <td style="width: 7em;"><b>Address:</b></td>
        <td>
          <input type="text" value="<%= @network['router']['address'] %>" id="<%= @network['name'] %>_routeraddress"/>
        </td>
        <td style="width: 7em;"><b>Pref:</b></td>
        <td>
          <input type="text" value="<%= @network['router']['pref'] %>" id="<%= @network['name'] %>_routerpref"/>
        </td>
      </tr>
    </table><br/>

    <button onclick="saveData('<%= @network['name']%>')">Save Network</button>

</div>