= form_for(user,  :url => { :action => :reset_password } ) do |ff|
 %ul
  - user.errors.full_messages.each do |er|
   %li=er
 = ff.text_field :id, :type => "hidden"
 %table.center
  %tr
   %td= ff.label :username, t(".username")
   %td= ff.label :password, t(".password")
   %td= ff.label :password_confirmation, t(".password_confirmation")
   %td &nbsp;
  %tr
   %td= user.username
   %td= ff.password_field :password
   %td= ff.password_field :password_confirmation
   %td
    %span= ff.submit t(".set_password"), :class=>'button'
    = ff.submit t("cancel"),:name => 'cancel', :class=>'button'
