!!!
%html
  %head
    %title= t 'title', default: "Digital Rebar"
    = csrf_meta_tags
    = stylesheet_link_tag Rails.configuration.rebar.sass_base || 'application'
    /[if IE]
      = stylesheet_link_tag 'ie', :media => "all"
    = javascript_include_tag 'application'
    = csrf_meta_tag
    %link{:rel=>"SHORTCUT ICON", :href=>image_path("icons/digitalrebar.ico")}

  %body

    %header
      .container
        %h1
          %a{:href => "/"}
            %span logo
        %div{:style => 'float: right'}
          - if current_user or session[:digest_user]
            %div{:style=>'float: right; padding-top:10px; z-index:10; height:0px'}
              -if session[:digest_user]
                = t 'user.digested_as', :user=>session[:digest_user]
              -else
                = t 'user.signed_in_as', :user=>current_user.username
              (
              = link_to t('user.sign_out'), main_app.destroy_user_session_path(), :method=>'delete' rescue t('error')
              )
              %a{:href=>annealer_path}
                = image_tag('icons/refresh-off.png', :id=>"refresh_off", :title=>t('ui.manual_refresh'), :style=>"#{(current_user.settings(:ui).edge ? 'display:inline' : 'display:none')}")
                %span#node_count{:style=>"#{(current_user.settings(:ui).edge ? 'display:inline' : 'display:none')}"}= "-1"
                = image_tag('icons/led/active.png', :id=>"active_led")
                %span#active_heartbeat= "?"
                = image_tag('icons/led/todo.png', :id=>"todo_led", :style=>"display:none")
                %span#todo_heartbeat= ""
                = image_tag('icons/led/error.png', :id=>"error_led", :style=>"display:none")
                %span#error_heartbeat= ""
                = image_tag('icons/led/wait.png', :id=>"elasped_led", :title=>"session seconds timer", :style=>"#{(current_user.settings(:ui).edge ? 'display:inline' : 'display:none')}")
                %span#elapsed_heartbeat{:style=>"#{(current_user.settings(:ui).edge ? 'display:inline' : 'display:none')}"}= "-1"
              %a{:href=>Rails.configuration.rebar.chat_link, :target=>"_blank"}
                = image_tag('icons/chat.png', :id=>"chat", :title=>t("user.chatlink"), :style=>"display:inline")
            %nav
              = render_navigation :expand_all => true, :skip_if_empty => true
          - else
            %nav
              = link_to t('user.sign_in'),  main_app.new_user_session_path
    - if flash[:notice]
      .notice#flash
        .container
          %p
            = flash[:notice]
            = link_to " [#{t('clear_msg')}]", "#", :onClick=>"$('#flash').attr('style', 'display:none');"

    #main_body.container
      = yield

    %footer
      =t '.provided_by'
      %a{:href=>"http://rebar.digital", :target=>"_new"}
        = image_tag("dr_logo.png", :alt=>"Digital Rebar", :title=>"Digital Rebar", :width=>'20px', :style=>"vertical-align:middle;padding-bottom:2px")
      %a{:href=>"https://github.com/orgs/digitalrebar/people", :target=>"_new", :alt=>"Digital Rebar"}
        Digital Rebar
      =t 'version', :version=>Rails.configuration.rebar.version || '2.x'

- if current_user or session[:digest_user]
  :javascript

    function heartbeat() {

      elasped = parseInt($('span#elapsed_heartbeat').text());

      if (elasped < 3600) {

        $.ajaxSetup({ timeout: 2500 });

        $.getJSON("#{heartbeat_status_path()}?marker=#{request.original_url}", function(data) {

          $('span#elapsed_heartbeat').text(data['elapsed']);

          $('span#active_heartbeat').text(data['active']);
          if (data["todo"]==0) {
            $('span#todo_heartbeat').text("");
            $('img#todo_led').attr('style', 'display:none');
          } else {
            $('span#todo_heartbeat').text(data['todo']);
            $('img#todo_led').attr('style', 'display:inline');
          }
          if (data["error"]==0) {
            $('span#error_heartbeat').text("");
            $('img#error_led').attr('style', 'display:none');
          } else {
            $('span#error_heartbeat').text(data['error']);
            $('img#error_led').attr('style', 'display:inline');
          }

          $('span#node_count').text(data['nodes']);
          if  (data["nodes"]<#{current_user.settings(:ui).node_refresh})
            $('img#refresh_off').attr('style', 'display:none');
          else
            $('img#refresh_off').attr('style', 'display:inline');

        })
        .fail(function(jqXHR, textStatus, errorThrown) {
          location.load("/");
        });

      } else {
        // stop polling
        $('span#todo_heartbeat').text("");
        $('span#error_heartbeat').text("");
        $('span#active_heartbeat').text("!");
        $('img#elasped_led').attr('style', 'display:inline');
        $('img#todo_led').attr('style', 'display:none');
        $('img#error_led').attr('style', 'display:none');
        $('img#active_led').attr('style', 'display:none');
        $('img#refresh_off').attr('style', 'display:inline');
      }

      //console.debug($('span#elapsed_heartbeat').text(), elasped < 3600);

    }

    heartbeat();
