- value = Attrib.get(attrib.name, obj)
- admin = Node.admin.where(:available => true).first
- available_os = Attrib.get("provisioner-available-oses", admin).map{ |k,v| k } rescue []
- raw_options = 
= form_for :attrib, :remote => true, :url => attribs_api_path(:id=>attrib.id, obj_type=>obj.id, :api_version=>'v2'), :html => { :method=>:put, :'data-type' => 'html',  :class => "formtastic" } do |f|
  %tr
    %td= link_to attrib.name_i18n, attrib_path(attrib.id), :title=>attrib.description
    - if editable
      %td
        = f.select :value, available_os, :selected=>value
      %td{:align=>"right"}
        %input.button{:type => "submit", :name => "save", :value => t('save')}
    -else
      - if value
        %td= value
      - else
        %td= t('not_set')
      %td= ''
    - if current_user and current_user.settings(:ui).debug
      %td= attrib.ui_renderer rescue Attrib::UI_RENDERER

