%div.layer= t ".#{layer}"
%div.dots
  - shorten = @layers[layer].size > 20 #current_user.settings(:ui).maxdisplay # TODO in the future if this is supposed to be a setting
  - list = {} if shorten
  - @layers[layer].each do |nr|
    - unless nr.nil?
      - working = true
      - node_led = 'on' 
      - if !nr.node.available
        - node_led = (nr.node.alive ? 'reserved' : 'idle')
        - working = false
      - elsif !nr.node.alive
        - node_led = 'off'
        - working = false
      - nr_led = NodeRole::STATES[nr.state || NodeRole::ERROR]
      - nr_led = "wait" if !working and nr.state == NodeRole::TODO 
      - unless shorten
        %span.led{:style=>"float:left", :class => nr_led, 
                    :title=>"#{nr.node.name} #{nr.role.name}"}
          = link_to "&nbsp;&nbsp;&nbsp;&nbsp;".html_safe, node_role_path(nr.id)
      - else
        - list[nr_led] ||= 0
        - list[nr_led] += 1

  - if shorten
    - list.each do |led, count|
      = image_tag("icons/led/#{led}.png")
      %span= count