%h1= t('.title')

%table.data.box
  %thead
    %tr
      %th= t('.name')
      %th= t('.units')
      %th= t('.ram')
      %th= t('.nics')
      %th= t('.drives')
      %th= t('.raid')
      %th= t('.hardware')
      %th= t('.cpu')
  %tbody
    - @families.each do |n, f|
      %tr{ :class => cycle(:odd, :even, :name => "family") }
        %td
          %ul.plain
            - f[:names].each do |node|
              %li= link_to node[:name], node_path(node[:handle]), :title=> node[:description]
        %td= f[:names].length
        %td= format_memory(f[:family][:ram])
        %td= f[:family][:nics]
        %td= f[:family][:drives]
        %td= f[:family][:raid]
        %td= f[:family][:hw]
        %td= f[:family][:cpu]
