- provisioner = Role.find_key 'provisioner-service'
- admin = provisioner.nodes.first
- available_os = Attrib.get("provisioner-available-oses", admin).map{ |k,v| k } rescue []
- initial_role = Attrib.get('provisioner-target_os', Role.find_by(name: 'provisioner-os-install')) rescue "fred"
%h1
  =t '.title'

= form_for :dashboard, :'data-remote' => true, :url => '/dashboard/getready', :html => { :method=>:post, :'data-type' => 'json',  :id => 'getready', :class => "formtastic" } do |f|

  %table.data.box
    %thead
      %tr
        %th{:width=>'10%'}= t('.selection')
        %th= t('.selectionValue')
    %tbody
      %tr{:class => cycle(:odd,:even)}
        %td= t('.deployment')
        %td= text_field_tag(:deployment, t('.default'), :size => 15)
      %tr{:class => cycle(:odd,:even)}
        %td= t('.conduit')
        %td= text_field_tag(:conduit, Network::DEFAULTCONDUIT, :size => 15)
      %tr{:class => cycle(:odd,:even)}
        %td= t('.range')
        %td= text_field_tag(:range, t('.range_base'), :size => 15)
      %tr{:class => cycle(:odd,:even)}
        %td= t('.first_ip')
        %td= text_field_tag(:first_ip, "10.10.10.10/24", :size => 15)
      %tr{:class => cycle(:odd,:even)}
        %td= t('.last_ip')
        %td= text_field_tag(:last_ip, "10.10.10.250/24", :size => 15)

  %table.data.box
    %thead
      %tr
        %th{:width=>'5%'}
        %th= t('.state')
        %th= t('.name')
        %th= t('.os')
        %th= t('.disk')
        %th= t('.mem')
        %th= t('.nics')
        %th= t('.proc')
        %th= t('.asset')
    %tbody
      - if @nodes and @nodes.count > 0
        - @nodes.sort_by{|n| n.name }.each do |node|
          - unless node.is_admin? or node.is_system?
            %tr.node{ :class => cycle(:odd, :even, :name => "nodes"), :id => node.id }
              %td= check_box_tag "node_#{node.id}", "include", (!node.is_admin? && !node.is_docker_node?)
              %td.status
                .led{:class => node.status, :title=>t(node.status, :scope=>'status', :default=>node.status)} 
              %td= link_to node.name, node_path(node.id), :title=>node.description
              %td
                - if available_os.count > 0
                  - if node.is_docker_node?
                    = t 'no_config'
                  - else
                    = f.select "node_#{node.id}_os", available_os, :selected=>initial_role
                - else
                  = t 'no_items'
              %td= "#{node.attrib_number_of_drives || 0}, #{t('.raid')}: #{t((node.attrib_raid_set || 'not_set'))}"
              %td= format_memory(node.attrib_memory)
              %td= node.attrib_nics.count rescue 0
              %td= node.attrib_cpu
              %td= node.attrib_asset_tag
      - else
        %tr
          %td{ :colspan=>9}
            = t 'no_items'

  %input.button{:type => "submit", :name => "create", :method=>:post, :value => t('.create')}

.clear
