%table.data.box
  %thead
    %tr
      %th= t '.name'
      %th= t '.first'
      %th= t '.last'
      %th
  %tbody
    - network.ranges.each do |range|
      = form_for :network_range, :'data-remote' => true, :url => network_network_range_path(:id=>range.id, :network_id=>network.id, :version=>'v2'), :method=>:put, :html => { :method=>:put, :'data-type' => 'html',  :class => "formtastic", :remote=>true } do |f|
        %tr{ :class => cycle(:odd, :even) }
          %td= text_field_tag :name, range.name, :size => 10
          %td= text_field_tag :first, range.first, :size => 18
          %td= text_field_tag :last, range.last, :size => 18
          %td
            %input.button{:type => "submit", :value => t('update')}

    = form_for :network_range, :'data-remote' => true, :url => network_network_ranges_path(:network_id=>network.id, :version=>'v2'), :method=>:post, :html => { :method=>:post, :'data-type' => 'html',  :class => "formtastic", :remote=>true } do |f|
      %tr{ :class => cycle(:odd, :even) }
        %td
          = hidden_field_tag :network_id, network.id
          = text_field_tag :name, t('default'), :size => 10
        %td= text_field_tag :new_first, "10.10.10.1/24", :size => 18
        %td= text_field_tag :new_last, "10.10.10.254/24", :size => 18
        %td
          %input.button{:type => "submit", :value => t('add')}
