%p#add_button{:style => 'float:right'}
  - license = t('user.license')
  = link_to t('user.eula', :default=>license), docs_path(:id=>'framework/licenses'), :class => 'button', :id=>'eula_button'
%h1= t 'user.sign_in'

%section.box#login
  - if flash[:alert]
    .notice#flash
      .container
        %p
          = flash[:alert]
          = link_to " [#{t('clear_msg')}]", "#", :onClick=>"$('#flash').attr('style', 'display:none');"

  = form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
    %dl
      %dt= f.label :username
      %dd= f.text_field :username
      %dt= f.label :password
      %dd
        = f.password_field :password
      %dt 
      %dd
        - if devise_mapping.rememberable?
          = f.label :remember_me
          = f.check_box :remember_me
          = f.submit t('user.sign_in'), :class => :button
    %em= t('user.license_accept')

= render :partial => "devise/shared/links"
