%h1
  = link_to @group.category, groups_path(category: @group.category)
  = @group.name

= "#{t '.description'}:"
= @group.description if @group.description


- nodes = Node.regular - Node.category(@group.category)
- if nodes.count > 0
  
  %h2= t '.unclaimed'

  - nodes.each do |n|
    %div{:id=>n.id}
      %a{:onclick=>"add(#{n.id}, #{@group.id}, '#{n.name}')"}
        =image_tag('icons/add.png')
      = link_to n.name, node_path(n.id)

%h2= t '.nodes'

%table.data.box#nodelist
  %thead
    %tr{ :class => cycle(:odd, :even) }
      %th= t '.node'
      - Group.category(@group.category).each do |g|
        - next if g.id == @group.id
        %th= link_to g.name, group_path(g.id)
  %tbdoy
    - if params[:all] or @group.nodes.count == 0
      %tr{id: "node_0"}
        %td= t 'no_items'
    - else
      - @group.nodes.each do |n|
        %tr#node{id: n.id}
          %td= link_to n.name, node_path(n.id)
          - Group.category(@group.category).each do |g|
            - next if g.id == @group.id
            %td= link_to image_tag('icons/add.png'), "javascript:move(#{n.id}, #{g.id})"


.clear

:javascript

  function add(node, group, name) {
    action(node, group);
    $('table.data.box#nodelist').append('<tr#node id='+node+'><td><a href="/nodes/'+node+'">'+name+'</a></td></tr>');
    $('div#'+node).hide();
    $('tr#node_0').hide();
  }

  function move(node, group) {
    action(node, group);
    $('tr#node_'+node).hide();
  }

  function action(node, group) {
    addurl = "/api/v2/groups/"+group+"/nodes";
    adddata = {node_id:node};
    //console.log("add " + addurl);
    // skip if this group is the screen group
    if (group!=#{@group.id}) {
      rmurl = "/api/v2/groups/#{@group.id}/nodes/" + node
      $.ajax({
               type: "DELETE",
               url: rmurl,
               contentType: "application/json; charset=utf-8",
               crossDomain: false})
         .fail(function (jqXHR, status) {
             // error handler
            console.log("delete fail ", jqXHR);
         });
    }
    // add group 
    $.ajax({
           type: "POST",
           url: addurl,
           data: JSON.stringify(adddata),
           dataType: "json",
           contentType: "application/json; charset=utf-8",
           crossDomain: false})
      .fail(function (jqXHR, status) {
               // error handler
               console.log("add fail ", jqXHR);
               //alert('fail' + status.code);
           });
  }
