%h1
  = link_to @group.category, groups_path(category: @group.category)
  = @group.name

= "#{t '.description'}:"
= @group.description if @group.description

%h2= t '.nodes'

%table.data.box
  %thead
    %tr{ :class => cycle(:odd, :even) }
      %th= t '.node'
      - Group.category(@group.category).each do |g|
        - next if g.id == @group.id
        %th= link_to g.name, group_path(g.id)
  %tbdoy
    - if @group.nodes.count == 0
      %tr
        %td= t 'no_items'
    - else
      - @group.nodes.each do |n|
        %tr#node{id: n.id}
          %td= link_to n.name, node_path(n.id)
          - Group.category(@group.category).each do |g|
            - next if g.id == @group.id
            %td= link_to_function image_tag('icons/add.png'), "move(#{n.id}, #{g.id})"

.clear

:javascript

  function move(node, group) {
    addurl = "/api/v2/groups/"+group+"/nodes"
    adddata = {node_id:node},
    rmurl = "/api/v2/groups/#{@group.id}/nodes/" + node
    //console.log("add " + addurl);
    $.ajax({
             type: "DELETE",
             url: rmurl,
             contentType: "application/json; charset=utf-8",
             crossDomain: false})
       .fail(function (jqXHR, status) {
           // error handler
          console.log("delete fail ", jqXHR);
       });
    $.ajax({
           type: "POST",
           url: addurl,
           data: JSON.stringify(adddata),
           dataType: "json",
           contentType: "application/json; charset=utf-8",
           crossDomain: false})
      .fail(function (jqXHR, status) {
               // error handler
               console.log("add fail ", jqXHR);
               //alert('fail' + status.code);
           });
    $('tr#node_'+node).hide().fadeOut();
  }
