%h1= @barclamp.name

%dl
  = dl_item t('.description'), @barclamp.description
  = dl_item t('.source_path'), @barclamp.source_path
  = dl_item t('.source_url'), link_to(@barclamp.source_url, @barclamp.source_url)
  = dl_item t('.version'), @barclamp.version
  = dl_item t('.commit'), @barclamp.commit
  = dl_item t('.build_on'), @barclamp.build_on

%strong 
  %a.toggle.with_label{:href => "#", :id => "#data_toggle", :rel => "rawdata"}= t '.rawconfig'

%div{:id=>"rawdata", :style =>"display:none"}

  %p
    %pre= JSON.pretty_generate @barclamp.cfg_data

%hr
%h3= t '.roles'

= render :partial => "roles/index", :locals => { :list => @barclamp.roles, :jig_name => nil }

- githistory = %x[cd #{@barclamp.source_path} && git log -n 10].split("commit ") rescue nil

- if githistory.length>0
  %h3= "Git History"
  %ol
    - githistory.each do |commit|
      - lines = commit.split("\n")
      - if lines.length>0
        %li
          = lines[0]
          %ul
            - lines[1..1000].each do |l| 
              - if l.length>0
                %li= l
