= form_for :network, :'data-remote' => true, :url => network_path(network.id), :html => { :method=>:put, :'data-type' => 'html',  :class => "formtastic" } do |f|
  %table.data.box
    %thead
      %th{:width=>'10%'}= t '.name'
      - if network.role
        %th= link_to network.name, role_path(network.role.id)
      - else
        %th= network.name
    %tbody
      %tr{:class => cycle(:odd,:even)}
        %td= t '.description'
        %td= text_field_tag :description, network.description, :size=>30
      %tr{:class => cycle(:odd,:even)}
        %td= t '.category'
        %td= text_field_tag :category, network.category, :size=>30
      %tr{:class => cycle(:odd,:even)}
        %td= t '.group'
        %td= text_field_tag :group, network.group, :size=>30
      %tr{:class => cycle(:odd,:even)}
        %td= t '.deployment'
        %td= select_tag :deployment_id, options_from_collection_for_select(Deployment.all, :id, :name, :selected=>network.deployment.id)
      %tr{:class => cycle(:odd,:even)}
        %td= t '.conduit'
        %td= text_field_tag :conduit, network.conduit, :size=>15
      %tr{:class => cycle(:odd,:even)}
        %td= t '.vlan'
        %td= text_field_tag :vlan, network.vlan, :size=>5
      %tr{:class => cycle(:odd,:even)}
        %td= t '.v6prefix'
        %td= text_field_tag :v6prefix, network.v6prefix, :size=>20
      %tr{:class => cycle(:odd,:even)}
        %td= t '.team'
        %td= text_field_tag :team_mode, network.team_mode, :size=>5
      %tr{:class => cycle(:odd,:even)}
        %td= t '.bridge'
        %td= text_field_tag :use_bridge, network.use_bridge, :size=>5
      %tr{:class => cycle(:odd,:even)}
        %td= t '.update_dns'
        %td= text_field_tag :update_dns, network.update_dns, :size=>5
      %tr{:class => cycle(:odd,:even)}
        %td= t '.dns_domain'
        %td= text_field_tag :dns_domain, network.dns_domain, :size=>15
      %tr{:class => cycle(:odd,:even)}
        %td= t '.hostname_template'
        %td= text_field_tag :hostname_template, network.hostname_template, :size=>15
      %tr{:class => cycle(:odd,:even)}
        %td= t '.dns_svc_name'
        %td= text_field_tag :dns_svc_name, network.dns_svc_name, :size=>15



  %input.button{:type => "submit", :value => t('update')}

