%h1= @network.name

- if @network.role.nil?
  %span=t '.role_missing'

= render :partial => 'networks/show', :locals  => { :network => @network } 

%h2= t '.ranges'

= render :partial => 'network_ranges/index', :locals  => { :network => @network } 

%h2= t '.router'

- router = @network.router
- if router
  = form_for :network_router, :'data-remote' => true, :url => network_router_path(router.id), :html => { :method=>:put, :'data-type' => 'html',  :class => "formtastic", :remote=>true  } do |f|
    %dl
      %dt= t '.address'
      %dd= text_field_tag :address, router.address, :size=>15
      %dt= t '.pref'
      %dd= text_field_tag :pref, router.pref, :size=>6
      %dt
      %dd
        %input.button{:type => "submit", :value => t('update')}
-else
  - router = NetworkRouter.new 
  - router.network = @network
  - router.address = "0.0.0.0"
  = form_for :network_router, :'data-remote' => true, :url => network_network_routers_path(:network_id=>@network.id, :version=>'v2'), :method=>:post, :html => { :method=>:post, :'data-type' => 'json',  :class => "formtastic", :remote=>true } do |f|
    %dl
      %dt= t '.address'
      %dd= text_field_tag :address, router.address, :size=>15
      %dt= t '.pref'
      %dd= text_field_tag :pref, router.pref, :size=>6
      %dt
      %dd
        %input.button{:type => "submit", :value => t('add')}
