- if list.length==0
  %p= t 'no_items'
- else
  %table.data.box
    %thead
      %tr
        %th= t '.deployment'
        %th= t '.node'
        %th= t '.role'
        %th= t '.jig'
        %th
        %th= t '.state'
        - if list.first.state == NodeRole::ERROR
          %th= t '.action'
    %tbody
      - list.each do |nr|
        %tr.node{ :class => cycle(:odd, :even) }
          - working = true
          - node_led = 'on'
          - if !nr.node.available
            - node_led = (nr.node.alive ? 'reserved' : 'idle')
            - working = false
          - elsif !nr.node.alive
            - node_led = 'off'
            - working = false
          - nr_led = NodeRole::STATES[nr.state || NodeRole::ERROR]
          - nr_led = "wait" if !working and nr.state == NodeRole::TODO 
          %td= link_to nr.deployment.name, deployment_path(:id=>nr.deployment.id) rescue t 'unknown'
          %td          
            = link_to nr.node.name, node_path(:id=>nr.node.id) rescue t 'unknown'
            - unless working
              = image_tag "icons/led/#{node_led}.png", {title: t(node_led, scope: "common.state")}
          %td= link_to nr.role.name, role_path(:id=>nr.role.id) rescue t 'unknown'
          %td= link_to nr.role.jig_name, jig_path(:id=>nr.role.jig_name) rescue t 'unknown'
          %td
            .led{:class => nr_led, :title=>nr.state_name}
          %td= link_to nr.state_name, node_role_path(nr.id)
          - if nr.state == NodeRole::ERROR
            %td= link_to t('.retry'), "/api/v2"+node_role_path(nr.id)+"/retry", :class => 'button', :method=>:put, :'data-remote' => true

