- state = @deployment.state rescue Deployment::ERROR
- system_roles = @deployment.system_node.node_roles.count

%h2
  - if @deployment.parent
    = link_to @deployment.parent.name, deployment_path(@deployment.parent.id), :title => @deployment.parent.description
    = "/"
  = link_to @deployment.name, deployment_path(@deployment.id), :title => @deployment.description
  %span.led{:class => Deployment::STATES[state], :title=>Deployment.state_name(state), :style => "display: inline-block;"}

%table#nodelist
  %tr
    %th
    %th Nodes
    %th Roles

.clear

:javascript

  var refreshRate = #{current_user.settings(:ui).fast_refresh};
  var hasLoaded = false;
  var roles = [];
  var nodes = {};
  var services = {};
  var tristateData = {
    type: "tristate",
    colorMap: {
      '-1': "#f00",
      "-6": "#777",
      "2": "#0f0",
      "-3": "#ccc",
      "5": "#2b2",
      "0": "#aae",
    },
    tooltipFormat: '<strong>{{offset:role}}</strong><br/><span class="led {{value:led}}" style="display:inline-block;"></span>{{value:name}}',
    tooltipSkipNull: true,
    tooltipValueLookups: {
      'role' : {

      },
      'led': {
        '-1': "error",
        "0": "",
        "-6": "todo",
        "2": "ready",
        "-3": "blocked",
        "5": "active",
      },
      'name': {
        //t('en.common.state.error')
        //t('.error')
        '-1': '#{t("common.state.error")}', //need to change this to fetch strings from string table
        "0": " - ",
        "-6": '#{t("common.state.todo")}',
        "2": '#{t("common.state.ready")}',
        "-3": '#{t("common.state.blocked")}',
        "5": '#{t("common.state.active")}',
      }
    },
    barWidth: 10,
    barSpacing: 2,
  };

  function update() {
    $.getJSON("/monitor/#{@deployment.id}", function(data, err) {
      if(!hasLoaded) {
        hasLoaded = true;
        roles = data.roles;
        for(var i = 0; i < roles.length; i++) 
          tristateData.tooltipValueLookups['role'][""+i] = roles[i].name;
        console.log(roles.length)
      }

      for(var i in data.nodes) {
        var node = data.nodes[i];
        //console.log(node.name+", "+Object.keys(node.roles));
        if(!nodes[node.id]) {
          $('#nodelist').append(
            $('<tr id="li'+node.id+'"'+(node.admin ? ' style="font-weight: bold;"' : '')+'><td><span class="'+node.led+' led"></span></td><td class="nodename"><a href="'+node.path+'" title="'+node.description+'">'+node.name+'</a></td><td id="node'+node.id+'"></span></td>')
          );
        }
        var graph = $('#node'+node.id);
        var items = [];
        for(var j in roles) {
          var role = roles[j];
          var name = role.name;
          var id = role.id;
          var value = 0;
          if(node.roles[id]) {
            value = node.roles[id].state;
            swap = {
              0: 5, //active can't be zero
              3: -3, //blocked points down
              1: -6 //todo is pointing down and -1 is taken by error
            };
            if(swap[value])
              value = swap[value];
          }
          items.push([value]);
        }
        graph.sparkline(items, tristateData);
        var click = function(ev) {
          var sparkline = ev.sparklines[0]
          var region = sparkline.getCurrentRegionFields();
          var role = node.roles[roles[region.offset].id];
          if(role)
            location.href = role.path;
        }
        click.node = node;

        graph.bind('sparklineClick', click);
        nodes[node.id] = node;
      }

    });
    setTimeout(update, 1000);
  }

  $(document).ready(function() {
    update();
  });
