- data = { "provider" => { "name" => "debug-provider" }, "attribs" => {}, "nodes" => [ { "roles" => [] } ] } 

%table
  %tr
    %td
      %h1
        = "Batch Upload:" 
        = link_to @deployment.name, deployment_path(@deployment.id)
    %td{:align=>'right'}
      = link_to "Batch", "javascript:put_deployment()", :class=>:button
  %tr
    %td{:colspan=>2}
      %textarea{:id => "value", :rows=>50, :cols=>120}
        = JSON.pretty_generate data



:javascript

  function put_deployment() {
    try {
      var raw = jQuery.parseJSON($("textarea#value").val());
    }
    catch (e) {
      alert("Bad JSON: " + e);
      return;
    }
    console.debug("#{@deployment.name}");
    $.ajax({
      type: "put",
      data: JSON.stringify(raw),
      timeout: 60000,
      contentType: "application/json",
      url: "/api/v2/deployments/#{@deployment.id}/batch"
      })
      .done(function() {
        console.debug("reloading to /deployments/#{@deployment.name}");
        location.href = "/deployments/#{@deployment.id}";
      })
      .fail(function(jqXHR, textStatus, errorThrown) {
        alert( "POST ERROR: " + errorThrown )
      });
  }
