- provider = (@item.auth_details['provider'] || "AWS")

%tr
  %td{:colspan=>2}
    %a{:href=>"http://aws.amazon.com"}
      %img{:src=>"https://upload.wikimedia.org/wikipedia/commons/thumb/1/1d/AmazonWebservices_Logo.svg/2000px-AmazonWebservices_Logo.svg.png", :width=>138}
    = hidden_field_tag "auth_details[provider]", "AWS"
  %tr
    %td= t('access_key_id', :scope=>'providers.show.aws')
    %td= text_field_tag "auth_details[aws_access_key_id]", @item.auth_details['aws_access_key_id'], :size => 30
  %tr
    %td= t 'secret_access_key', :scope=>'providers.show.aws'
    %td= password_field_tag "auth_details[aws_secret_access_key]", @item.auth_details['aws_secret_access_key'], :size => 60
  %tr
    %td= t 'region', :scope=>'providers.show.aws'
    %td= text_field_tag "auth_details[region]", @item.auth_details['region'] || "us-west", :size => 30
