- provider = (@item.auth_details['provider'] || "Google")

%tr
  %td{:colspan=>2}
    %a{:href=>"http://aws.amazon.com"}
      %img{:src=>"https://cloud.google.com/_static/8fea0d66ce/images/new-gcp-logo.png"}
    = hidden_field_tag "auth_details[provider]", "Google"
  %tr
    %td= t('project', :scope=>'providers.show.google')
    %td= text_field_tag "auth_details[google_project]", @item.auth_details['google_project'], :size => 30
  %tr
    %td= t 'json_key', :scope=>'providers.show.google'
    %td
      %textarea{:name => "auth_details[google_json_key]", :rows=>20, :cols=>160}
        = @item.auth_details['google_json_key'] || "{ 'replace_me':'with exact json from GCE' }'"