- template = OpenStackProvider.template
%tr
  %td{:colspan=>2}
    %a{:href=>"http://openstack.org", :target=>"_blank"}
      = image_tag 'providers/openstack.png', :title=>"OpenStack", :width=>"138"
- template.each do |key, values|
  -if values[:name]
    %tr
      %td= values[:name]
      %td
        - if values[:type] == "text"
          = text_field_tag("auth_details[#{key}]", @item.auth_details[key.to_s] || values[:default], :size => values[:length])
        - elsif values[:type] == "password"
          = password_field_tag("auth_details[#{key}]", @item.auth_details[key.to_s], :size => values[:length])
        - else
          = "form for #{values[:type]} not implemented"
