%tr
  %td{:colspan=>2}
    %a{:href=>"http://openstack.org", :target=>"_blank"}
      = image_tag 'providers/openstack.png', :title=>"OpenStack", :width=>"138"
%tr
  %td= t 'os-auth-url', :scope=>'providers.show.openstack'  
  %td= text_field_tag("auth_details[os-auth-url]", @item.auth_details['os-auth-url'], :size => 50)
%tr
  %td= t 'os-username', :scope=>'providers.show.openstack'
  %td= text_field_tag("auth_details[os-username]", @item.auth_details['os-username'], :size => 30)
%tr
  %td= t 'os-password', :scope=>'providers.show.openstack'
  %td= password_field_tag("auth_details[os-password]", @item.auth_details['os-password'], :size => 30)
%tr
  %td= t 'os-project-name', :scope=>'providers.show.openstack'	
  %td= text_field_tag("auth_details[os-project-name]", @item.auth_details['os-project-name'], :size => 30)
%tr
  %td= t 'os-region-name', :scope=>'providers.show.openstack'	
  %td= text_field_tag("auth_details[os-region-name]", @item.auth_details['os-region-name'], :size => 30)