%tr
  %td{:colspan=>2}
    %a{:href=>"http://packet.net"}
      %img{:src=>"https://www.packet.net/assets/images/logo-main.png", :width=>138}
%tr
  %td= t 'token', :scope=>'providers.show.packet'
  %td= text_field_tag("auth_details[project_token]", @item.auth_details['project_token'], :size => 30)
%tr
  %td= t 'id', :scope=>'providers.show.packet'	
  %td= text_field_tag("auth_details[project_id]", @item.auth_details['project_id'], :size => 30)
%tr
  %td= t 'facility', :scope=>'providers.show.packet'	
  %td= text_field_tag("auth_details[facility]", @item.auth_details['facility'] || "ewr1", :size => 30)
%tr
  %td= t 'plan', :scope=>'providers.show.packet'	
  %td= text_field_tag("auth_details[plan]", @item.auth_details['plan'] || "baremetal_1", :size => 30)
