%h1= t '.title'

%table.data.box
  %thead
    %th= t '.name'
    %th= t '.type'
    %th= t '.description'
  %tbody
    - @list.each do |i|
      %tr
        %td= link_to i.name, provider_path(i.id)
        %td= i.type
        %td= i.description
    = form_for :provider, :'data-remote' => true, :url => providers_path(), :html => { :method=>:post, :'data-type' => 'json',  :class => "formtastic" } do |f|
      %tr
        %td= text_field_tag :name, t('default'), :size => 15
        %td= select :type, nil, options_for_select(Provider::AVAILABLE, Provider::AVAILABLE.keys.first)
        %td
          = f.button :type => "submit", :name => "create", :method=>:post, :value => t('.new')
          = hidden_field_tag :auth_details, "{}"
