%h1= t '.title', :name => @item.name.titleize

= form_for :provider, :'data-remote' => true, :url => provider_path(@item.id), :html => { :method=>:put, :'data-type' => 'json',  :class => "formtastic" } do |f|
  
  %table.data.box
    %thead
      %tr
        %th= t ".name"
        %th= @item.name
    %tbody
      %tr
        %td= t '.type'
        %td
          = @item.type || t('not_set') rescue t('not_set' )
          (
          = link_to t('raw'), provider_path(@item.id, :raw=>true)
          )
      %tr
        %td= t '.description'
        %td= text_field_tag :description, @item.description, :size => 50
      - begin 
        - if params.include? :raw
          = render :partial => 'show', :locals=>{:item => @item}
        - else
          = render :partial => (@item.type || "show").downcase, :locals=>{:item => @item}
      - rescue Exception => e
        = render :partial => 'show', :locals=>{:item => @item}
        - if Rails.env.development?
          %tr
            %td= "error"
            %td= e.message
    %tfoot
      %tr
        %td
        %td= f.button :type => "submit", :name => "update", :method=>:post, :value => t('.update')

%br

- begin

  %h2= t '.nodes'

  - if @item.nodes.count > 0
    %ol
      - @item.nodes.order(:name).each do |n|
        %li= link_to n.name, node_path(n.id)
  - else
    =t 'none'

- rescue Exception => e
  %strong= t 'work_in_progress', :message => 'join issue'
  %p= e.inspect
