%h1= t '.title'

%table.data.box
  %thead
    %tr
      %th= t '.name'
      %th= t '.description'
      %th= t '.parent'
      %th
  %tbody
    - @tenants.each do |n|
      %tr.node{ :class => cycle(:odd, :even) }
        %td= link_to n.name, tenant_path(n.id)
        %td= n.description
        %td= n.parent_id
        %td= link_to t('destroy'), tenant_path(n.id), :class => 'button', :'onclick'=>'location.reload();', :'data-remote' => true, :method => :delete, data: { confirm: "Are you certain you want to destroy tenant #{n.name}?" }

  %tfoot
    = form_for :tenant, :'data-remote' => true, :url => tenants_path(), :html => { :method=>:post, :'data-type' => 'html',  :class => "formtastic" } do |f|
      %tr
        %td= text_field_tag :name, "", :size=>20
        %td= text_field_tag :description, "", :size=>20
        %td= text_field_tag :parent_id, "", :size=>4
        %td
          %input.button{:type => "submit", :value => t('.add')}

