%div(class='nav-container')
  - if @nav_prev
    %div(class='nav-prev')
      = link_to "#{t('.nav_prev')} (#{truncate @nav_prev.description})", doc_path(@nav_prev.id)
  - if @nav_up
    %div(class='nav-up')
      = link_to "#{t('.nav_up')} (#{truncate @nav_up.description})", doc_path(@nav_up.id)
  - if @nav_next
    %div(class='nav-next')
      = link_to "#{t('.nav_next')} (#{truncate @nav_next.description})", doc_path(@nav_next.id)

- if current_user
  - if current_user.settings(:docs).sources
    = link_to t('.edit_this_page'), @doc.git_url, :class=>"button", :style=>"float:right" rescue ""

%p.topic= @text.html_safe

- if @doc and @doc.children.count > 0
  %hr
    %h3= t '.children'
    %ol
      - @doc.children.sort.each do |c|
        %li= link_to c.description, doc_path(c.id)
        
- if @doc and current_user and current_user.settings(:ui).debug
  %hr
    %h3= t 'debug'
    %ul
      %li= "Name: #{@doc.name}"
      %li= "Parent: #{(@doc.parent_id ? @doc.parent.name : t('not_set'))}"
      %li= "Description: #{@doc.description}"
      %li= "Barclamp: #{@doc.barclamp.name}"
      %li= "Last Doc: #{session['last_doc']}"
