= form_for :capability, :'data-remote' => true, :url => capability_path(capability.id), :html => { :method=>:put, :'data-type' => 'html',  :class => "formtastic" } do |f|
  %table.data.box
    %thead
      %th{:width=>'10%'}= t '.name'
      %th= capability.name
    %tbody
      %tr{:class => cycle(:odd,:even)}
        %td= t '.name'
        %td= text_field_tag :name, capability.name, :size=>30
      %tr{:class => cycle(:odd,:even)}
        %td= t '.description'
        %td= text_field_tag :description, capability.description, :size=>30
      %tr{:class => cycle(:odd,:even)}
        %td= t '.source'
        %td= text_field_tag :source, capability.source, :size=>30

  %input.button{:type => "submit", :value => t('update')}

