%h1
  - if @node
    = link_to @node.name, node_path(@node.id), :title=>@node.description
  = @attrib.name_i18n

-if @node
  = @node.get_attrib(@attrib)
-else
  %dl
    = dl_item t('.name'), @attrib.name
    = dl_item t('.description'), @attrib.description
    = dl_item t('.barclamp'), link_to(@attrib.barclamp.name, barclamp_path(@attrib.barclamp.id), :title=>@attrib.barclamp.description)
    = dl_item t('.map'), @attrib.map
    = dl_item t('.ui_renderer'), @attrib.ui_renderer
